@page
@model AutomicObjectDesigner.Pages.CreateModel
@{
}
<br/>
<h3>
    Design:
</h3>
<ul>
    <li>WindowsSimple</li>
    <li>LinuxSimple</li>
    <li>SapSimple</li>
    <li>SapVariantCopy</li>
    <li>FileTransfer</li>
    <li>Workflow</li>
</ul>