@page
@model AutomicObjectDesigner.Pages.LoginModel
@{
}
<h4>Username</h4>
<input name="username" type="text" required>
<h4>Password</h4>
<input name="typed_password" type="password" required>
<br/>
<button type="submit">Login</button>